.box{
    overflow: hidden;
    cursor: pointer;
    padding: 1vmax;
    background: #fff;
    transition: 0.3s ease;
    position: relative;
}

.box:hover{
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}

.box__imgBx {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
}

.box__imgBx > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}


.info > span{
    display: block;
    font-size: 0.8em;
    font-weight: 600;
}

.info > .proName{
    color: #616161;
}

 .info > .proPrice{
    color: #ff6700;
}