 .preFooter__box{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.preFooter__box .iconBx ion-icon,
.preFooter__box .infoBx h3,
.preFooter__box .infoBx p{
    transition: 0.3s ease;
}

.preFooter__box:hover .iconBx ion-icon,
.preFooter__box .infoBx h3,
.preFooter__box:hover .infoBx h3,
.preFooter__box:hover .infoBx p{
    color: #111;
}

.preFooter__box .iconBx{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vmax;
}

 .preFooter__box .iconBx ion-icon{
    font-size: 4em;
    color: #b0b0b0;
}

 .infoBx{
    height: 100%;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

 .infoBx h3
{
    margin-top: 1vmax;
    font-size: 0.8em;
}

 .infoBx p{
    font-size: 0.8em;
    color: #b0b0b0;
}